

<div class="content">
  <nobr>
    <h1>welcome to </h1>
    <h1 class="fa-solid fa-book">Bookers!!</h1>
  </nobr>
  <br>
  <nobr>
    <p>In </p>
    <p class="fa-solid fa-book">Bookers,</p>
  </nobr>

  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>

  <li class="Log_in_btn">
    <%= link_to "Log in", new_user_session_path %>
  </li>
  <br>
  <li class="Sign_up_btn">
    <%= link_to "Sign up", new_user_registration_path %>
  </li>
</div>
